<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/web/syles.css">
    <title>Address form</title>
</head>
<body>
    <div class="container">
        <div class="form-group">
            <form action="/hello" method="post">
                <h2>My Address Book</h2>
                <label for="name">Name:</label>
                <input id="name"type="text" name="name" class="form-control">
                <label for="phone">Phone Number:</label>
                <input id="phone" type="number" name="phone" class="form-control">
                <label for="address">Address:</label>
                <input id="address" class="form-control" type="text" name="address">
                <button type="submit" name="btn-success">Add Address</button>
            </form>
            <br>
            <br>
        </div>
    </div>


</body>
</html>
