<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/web/syles.css">
    <title>Address form</title>
</head>
<body>
    <div class="container">
        <div class="form-group">
            <form action="/create_new" method="post">
                <h2>My Address Book</h2>
                <label for="name">Name:</label>
                <input id="name"type="text" name="name" class="form-control">
                <label for="new_address">Address:</label>
                <input id="new_address" class="form-control" type="text" name="new_address">
                <button type="submit" class="submitNew"name="btn-success">Add Address</button>


            </form>
        </div>
    </div>
</body>
</html>
