<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Address form</title>
</head>
<body>
    <div class="container">
        <div class="form-group">
            <form action="/add_Contact" method="post">
                <h2 class="homeAddress">My Address Book</h2>
                <label for="name">Name:</label>
                <input id="name"type="text" name="name" class="form-control">
                <label for="phone">Phone Number:</label>
                <input id="phone" type="number" name="phone" class="form-control">
                <label for="address">Address:</label>
                <input id="address" class="form-control" type="text" name="address">
                <br>
                <button type="submit" class="btn btn-success">Add Address</button>
            </form>
            <br>
            {% if logged_contact is not empty %}
                <h2><strong>Here are all your Contacts:</strong></h2><br>
                <ul>
                    {% for logged_contacts in logged_contact %}
                        <li>Name:  {{ logged_contacts.getName }}</li>
                        <li>Phone:  {{ logged_contacts.getPhone }}</li>
                        <li>Address:  {{ logged_contacts.getAddress }}</li>
                        <br>
                    {% endfor %}
                </ul>
                <br>
                <form action='/deleteAll' method='post'>
                    <button type='submit' class="btn btn-warning">Clear</button>
                </form>
            {% endif %}
        </div>
    </div>
</body>
</html>
