<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/web/syles.css">
    <title>Address form</title>
</head>
<body>
    <div class="container">
        <div class="form-group">
            <form action="/create_new" method="post">
                <h2>My Address Book</h2>
                <label for="new_address">Add a new address:</label>
                <input id="new_address" type="text" name="new_address">
                <button type="submit" class="submitNew"name="btn-success"></button>


            </form>
        </div>
    </div>
</body>
</html>
