<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>All contacts have been deleted</title>
</head>
<body>
    <h2 class="delete">All contacts have been deleted</h2>
    <a href="/">Click here to add an address</a>
</body>

</html>
