<!DOCTYPE html>
<html>
    <head>

        <title>All contacts have been deleted</title>
    </head>
    <body>
        <h2>All contacts have been deleted</h2>
        <link rel="stylesheet" href="/">

    </body>
</html>
