<!DOCTYPE html>
<html>
    <head>
        <title>All contacts have been deleted</title>
    </head>
    <body>
        <h2>All contacts have been deleted</h2>
        <a href="/">click to add address</a>
    </body>
</html>
