<!DOCTYPE html>
<html>
<head>
        <title>Address Display</title>
</head>
<body>
    <h2>Your Addresses are:</h2>
    <ul>Name: {{new_address_dispalay.getName}}</ul>
    <ul>Name: {{new_address_dispalay.getAddress}}</ul>

</body>
</html>
