
<html>
<head>
        <title>Address Display</title>
</head>
<body>
    <h2>Your Addresses are:</h2>

       <p>Here are all your tasks:</p>
       <ul>
           {% for new_address_display in new_address_display %}
           <li>Name: {{ new_address_display.getName }}</li>
           <li>Phone: {{ new_address_display.getPhone}}
           <li>Address: {{ new_address_display.getAddress }}</li>
           {% endfor %}
       </ul>
<!-- {{dump(new_address_display)}} -->




    <form action="/">
        <button type="submit" name="button">Ad Another</button>
    </form>
    <br>
    <form action="/deleteAll" method="post">
    <button type="submit" name="button">Delete All</button>
</body>
</html>
