<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Address Book</title>
</head>
<body>
    <div class="container">
        <br>
        <br>
        <h3>You added a new Contact:</h3>
        <li>{{ the_contact.getName }}</li>
        <li>{{ the_contact.getPhone }}</li>
        <li>{{ the_contact.getAddress }}</li>
        <br>
        <form action='/'>
            <button type='submit' class="btn btn-success">Add Another Contact</button>
        </form>
        <br>
        <br>
    </div>
</body>
</html>
